*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.card-header img{
  width: 270px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.card-buttons button{
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  background-color: crimson;
  margin-top: 10px;
}

.categories_list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
  padding: 1rem;
}
.categories_list button{
  background: none;
  border: 1px solid gray;
  padding: 15px 3rem;
  border-radius: 15px;
  font-size: 17px;
  font-weight: bold;
  transition: .3s color;
}
.categories_list button:hover{
  border-color: blue;
  color: blue;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  gap: 10px;
}
.buttons button{
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
}
.signOut{
  background-color: red;
}
.create{
  background-color: green;
}
